:root {
  --soft-magenta: hsl(300, 69%, 71%);
  --violet: hsl(257, 40%, 49%);
  --white: hsl(0, 0%, 100%, 0.95);
  --pale-white: hsla(0, 0%, 100%, 0.85);
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Open Sans', sans-serif;
  --fa-border-color: white;
  --fa-border-radius: 50%;
  --fa-border-style: solid;
  --fa-border-width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--white);
  height: 100vh;
  background-color: var(--violet);
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-width: 312px;
  max-width: 600px;
}

.landing-header {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 4rem;
  margin-bottom: 48px;
}

.logo {
  display: block;
  width: 8.125rem;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 0.25rem;
}

.hero {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  display: block;
  width: 100%;
}

.content {
  padding: 4rem 0;
  text-align: center;
}

.content-title {
  font-weight: 500;
}

.content-info {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  color: var(--pale-white);
  line-height: 1.7;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content-link {
  color: var(--violet);
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--white);
  padding: 0.75rem 4.5rem 0.7rem;
  border-radius: 100px;
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.25);
}

.content a:hover {
  color: var(--white);
  background-color: var(--soft-magenta);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 6vh;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.link {
  color: var(--white);
  width: 32px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 1440px){
  body {
    background-image: url('./images/bg-desktop.svg');
    align-items: center;
    padding: 3rem 0 2rem;
  }

  .container {
    min-width: 1300px;
  }

  .landing-header {
    height: 6rem;
  }

  .logo {
    width: 13.125rem;
  }

  .hero {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    max-width: 100%;
  }

  .hero-image {
    display: inline-block;
  }

  .content {
    padding: 2.25rem;
    text-align: left;
  }

  .content-title {
    font-size: 2.5rem;
  }

  .content-info {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .content-link {
    font-size: 1.1rem;
    padding: 1rem 4rem 0.95rem;
  }

  footer {
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    height: 4.5rem;
  }
}