:root {
  --soft-magenta: hsl(300, 69%, 71%);
  --violet: hsl(257, 40%, 49%);
  --white: hsl(0, 0%, 100%, 0.95);
  --pale-white: hsla(0, 0%, 100%, 0.85);
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Open Sans', sans-serif;
  --fa-border-color: white;
  
  --fa-border-radius: 50%;
  --fa-border-style: solid;
  --fa-border-width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--white);
  height: 100vh;
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-color: var(--violet);
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-width: 312px;
  max-width: 600px;
}

header {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 4rem;
  margin-bottom: 48px;
}

header img {
  display: block;
  width: 130px;
}

main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 0.25rem;
}

article {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article img {
  display: block;
  width: 100%;
}

.content {
  padding: 4rem 0;
  text-align: center;
}

.content h1 {
  font-weight: 500;
}

.content p {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  color: var(--pale-white);
  line-height: 1.5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content a {
  color: var(--violet);
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--white);
  padding: 0.75rem 4.5rem 0.7rem;
  border-radius: 100px;
  box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.25);
}

.content a:hover {
  color: var(--white);
  background-color: var(--soft-magenta);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 6vh;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.link {
  color: var(--white);
  width: 32px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: 376px){
  body {
    background-size: cover;
  }
}

@media (min-width: 1440px){
  body {
    background-image: url('./images/bg-desktop.svg');
    background-size: contain;
    align-items: center;
    padding: 3rem 0 2rem;
  }

  .container {
    min-width: 1312px;
  }

  header {
    height: 6rem;
  }

  header img {
    width: 210px;
  }

  main {
    flex: 0;
  }

  article {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1300px;
  }

  article img {
    display: inline-block;
    width: 55%;
  }

  .content {
    padding: 2.25rem;
    text-align: left;
    width: 45%;
  }

  .content h1 {
    font-weight: 500;
    font-size: 2.5rem;
  }

  .content p {
    line-height: 1.6rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .content a {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--white);
    padding: 1rem 4rem 0.95rem;
    border-radius: 100px;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.25);
  }

  footer {
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    height: 4.5rem;
  }

  .social-links {
    width: 128px;
  }
}